.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

body{
    background-color: #222;
    display: inline;
    font-size: 50px;
    font-family: sans-serif;
    color: #333;
}

@for $i from 1 through 10 {
    .l#{$i} {
        animation: neon 2s $i*0.1s infinite;
    }
}

@keyframes neon{
    0%{
        text-shadow: none;
        color: #333;
    }

    90% {
        text-shadow: none;
        color: #333;
    }

    100% {
        color: yellow;
        text-shadow: 0 0 50px yellow,
         0 0 50px orange
        ;
    }
}